# Laravel & PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/compiled.php
/app/storage/
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# Environment
.env
.env.backup
.env.production
auth.json

# Logs
npm-debug.log
yarn-error.log

# Homestead & Vagrant
Homestead.json
Homestead.yaml
/.vagrant

# IDE / Editor
/.idea
/.vscode
/.fleet
